<div class="jumbotron">
    <div class="container">
        <h1>About Sue</h1>
        <p>Sue Frank has been making glass in Los Angeles for 15 years. She works in the medium of <a href="https://en.wikipedia.org/wiki/Fused_glass">Fused Glass</a>, which is done in a kiln and different than glass blowing. </p>
    </div>
</div>
