 <% if user_signed_in? %>
        <h1>Welcome back!</h1>
           <div class="jumbotron jumbotron-home">
            <div class="container">
 <% else %>
        <div class="jumbotron jumbotron-home">
            <div class="container">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Commisions</h2>
                    <p>Here are some large scale wall sculptures and tabletop works. </p>
                    <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
                </div>
                <div class="col-md-4">
                    <h2>Readymades</h2>
                    <p>I have a full line of household goods for retail or wholesale purchase. </p>
                    <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
                </div>
                <div class="col-md-4">
                    <h2>Classes</h2>
                    <p>Going to be in Los Angeles? Classes are typically 2-3 hours and you make a work of glass art. </p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
    </div>
</div>
   <% end %>